.banner {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo {
  max-width: 60px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.button {
  border-radius: 25px;
}

.subtitle {
  margin: 0 auto 2rem;
  max-width: 350px;
}

.image {
  z-index: 10;
  width: 100%;
  height: auto;
  max-width: 1440px;
  border-radius: 6px;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 90vw;

  &.reverse {
    flex-direction: row-reverse;

    .sectionContent {
      text-align: left;
    }
  }
}

.sectionImgContainer {
  width: 50%;
  padding: 40px;
}

.sectionContent {
  width: 50%;
  text-align: right;
  padding: 40px;
}

.sectionSub {
  font-weight: 400;
}

.sectionHeadline {
  font-weight: 600;
}
